################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JubiAPI/Properties/launchSettings.local.json
